# Redirect semua request ke folder public
RewriteEngine On

# Jika file/folder tidak ada di root, arahkan ke /public
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/$1 [L]
