<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # 1. Jika file atau folder fisik ada (di dalam /public atau /public/build), 
    # langsung berikan filenya (JS, CSS, Gambar)
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # 2. Sisanya (Route API maupun Route SPA), kirim ke index.php
    RewriteRule ^ index.php [L]
</IfModule>